$height: 100dvh;
$projectColor: linear-gradient(to right, #3badab, #49696bd3);
$project-fontsize-before: 1.4rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#home {
  min-height: $height;
  background-color: #37484a;

  & #nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #243233;
    position: fixed;
    width: 100vw;
    height: 70px;
    z-index: 999;

    & #welcome {
      color: #eee;
      font-size: 1.2rem;
      cursor: pointer;
      margin-left: 4px;
    }

    & #menu {
      font-size: 1.5rem;
    }

    & .links {
      padding: 20px;
      height: 100%;
      color: white;
      text-decoration: none;
      margin-right: 15px;
      z-index: 1;
      position: relative;

      &::before {
        content: "";
        background-color: transparent;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s ease;
      }

      &:hover::before {
        background-color: #3badab;
        z-index: -1;
        width: 100%;
      }
    }
  }

  & .identification {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    padding-top: 9rem;
    color: #eee;

    & #image-1 {
      width: 30%;
      box-shadow: 0px 0px 0px 0.5em #eee;
      margin-left: 3rem;
    }

    & .paragraphs {
      text-align: start;
      font-family: Elephant;
      min-width: 680px;
      font-size: 2.3rem;
      line-height: 4.3rem;

      & #p2 {
        margin-left: 2rem;
      }

      & #p3 {
        margin-left: 4rem;
      }

      & .hovered-spans {
        transition: 0.5s;
        display: inline;
        font-family: Cooper Black;
        font-size: 3rem;
        color: #3badab;
        cursor: pointer;
      }

      & .hovered-spans:hover {
        color: #243233;
        font-size: 2.5rem;
      }
    }
  }

  & .language-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;

    & .download {
      text-decoration: none;
      background-color: #3badab;
      color: #eee;
      font-size: 1.5rem;
      padding: 0.5em;
      width: 12rem;
      display: flex;
      justify-content: center;
      margin-left: 1.5em;
      transition: 1s;
  
      &:hover {
        color: #49696bd3;
      }
    }

    & .tools {
      margin-right: 4em;
    }

    & .programming-tools {
      font-size: 3rem;
      margin-right: 1rem;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        filter: brightness(1.5);
      }
    }

    #js {
      color: #d6d608;
    }

    #react {
      color: #3badab;
    }

    #html {
      color: #da3e06;
    }

    #css {
      color: #1616c4;
    }

    #sass {
      color: #f053e3;
    }

    #python {
      color: rgb(132, 155, 5);
    }

    #tailwind {
      color: #369199;
    }

    #next {
      color: #1b1a1a;
    }
  }
}

#about {
  min-height: $height;
  background-color: #3f6a6e;

  & .header {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    margin: 0 2rem 0 2rem;

    & .letter {
      display: flex;
      transition: 0.3s;
      font-size: 3rem;
      width: 40px;
      height: 60px;
      color: #3badab;
      cursor: pointer;
      filter: brightness(1);
      animation: color 5s infinite;

      &:hover {
        font-size: 4rem;
      }
    }

    @keyframes color {
      0% {
        filter: brightness(1.5);
      }

      20% {
        filter: brightness(2);
      }

      40% {
        filter: brightness(3);
      }

      60% {
        filter: brightness(3.5);
      }

      80% {
        filter: brightness(0.8);
      }

      100% {
        filter: brightness(1.5);
      }
    }
  }

  & .slides {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 1rem 0 auto;
    padding: 2rem;
    width: 80vw;
    height: 50vh;

    & .my-story {
      background-color: #eee;
      padding: 2rem;
      height: 250px;
      border-radius: 10px;
      min-width: 150px;
    }

    & #slide-1 {
      position: relative;
      transition: 0.8s;
      background-color: #37484a;
      color: #eee;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 0 10px 0;
      gap: 1rem;

      & p {
        margin: 0 15px 0 15px;
        line-height: 1.5rem;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #369199;
        border-radius: 15px;
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }
    }

    & #slide-2 {
      position: relative;
      transition: 0.8s;
      background-color: #37484a;
      color: #eee;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 0 10px 0;
      gap: 1rem;

      & p {
        margin: 0 15px 0 15px;
        line-height: 1.5rem;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #369199;
        border-radius: 15px;
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }
    }

    time {
      font-weight: 800;
      color: #369199;
    }
    mark {
      color: #eee;
    }
  }

  & .slide-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    margin: 2rem 9rem 0 0;

    & .icons {
      font-size: 2rem;
      cursor: pointer;
    }

    & #highlight {
      padding: 8px;
      font-size: 0.9rem;
      cursor: pointer;
      border: none;
      background-color: #3badab;
    }
  }
}

#projects {
  min-height: $height;
  background-color: #83a6ac;

  & h1 {
    text-align: center;
    padding: 6rem;
    font-size: 3rem;
  }

  & #projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 2rem;
    padding-bottom: 2rem;

    & .project {
      width: 15rem;
      height: 300px;
      background-color: #eee;
      border-radius: 10px;

      & .images {
        width: 100%;
        height: 80%;
        cursor: pointer;
        border-radius: 10px 10px 0 0;
      }
    }

    & #project-1 {
      height: 300px;
      position: relative;

      &::before {
        content: "Weather App";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $project-fontsize-before;
        font-weight: 800;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $projectColor;
        transition: 0.3s;
        border-radius: 10px;
      }

      &:hover::before {
        background-color: transparent;
        width: 0;
        overflow: hidden;
        opacity: 0;
      }
    }

    & #project-2 {
      height: 300px;
      position: relative;

      &::before {
        content: "Test App";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $project-fontsize-before;
        font-weight: 800;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $projectColor;
        transition: 0.3s;
        border-radius: 10px;
      }

      &:hover::before {
        background-color: transparent;
        width: 0;
        overflow: hidden;
        opacity: 0;
      }
    }

    & #project-3 {
      height: 300px;
      position: relative;

      &::before {
        content: "Drum Machine";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $project-fontsize-before;
        font-weight: 800;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $projectColor;
        transition: 0.3s;
        border-radius: 10px;
      }

      &:hover::before {
        background-color: transparent;
        width: 0;
        overflow: hidden;
        opacity: 0;
      }
    }

    .github-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      cursor: pointer;
      width: 2rem;
      margin: 0 auto;
      color: rgb(62, 87, 87);
    }
  }
}

#contacts {
  height: $height;
  background-color: #1b1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #eee;

  & h1 {
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;

    & span {
      color: #3badab;
      transition: 0.3s;
    }

    &:hover {
      color: #3badab;
      & span {
        color: #eee;
      }
    }
  }

  .my-contact {
    text-decoration: none;
    font-size: 1.5rem;
    color: #bac9c9;
    align-self: flex-start;
    margin-left: 7rem;
    transition: 0.3s;

    &:hover {
      color: #3badab;
      & span {
        color: #eee;
      }
    }
  }

  & .contact-icons {
    font-size: 3rem;
    color: #3badab;
    margin-right: 1rem;
  }

  .icons {
    margin-top: 7rem;
    align-self: flex-end;
  }

  #media {
    font-size: 2rem;
    margin: 0 2.5rem 0 2.5rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #eee;
    }
  }
}

@media (max-width: 1024px) {
  #home {
    & #nav {
      & #welcome {
        font-size: 0.9rem;
      }

      & .links {
        font-size: 1.2rem;
        margin-right: 2px;
      }
    }

    & .identification {
      gap: 2rem;
      & .paragraphs {
        font-size: 1.8rem;
        line-height: 3.3rem;
        min-width: 580px;

        & #p2 {
          margin-left: 0;
        }

        & #p3 {
          margin-left: 0;
        }

        & .hovered-spans {
          font-size: 2.5rem;
        }

        & .hovered-spans:hover {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #home {
    & #nav {
      height: 60px;

      & #welcome {
        display: none;
      }

      & #menu {
        display: flex;
        justify-content: space-around;
        font-size: 0.8rem;
        width: 100%;
      }

      & .links {
        margin-right: 0px;
        padding: 20px 5px;
      }
    }

    & .identification {
      flex-direction: column;
      align-items: center;

      & #image-1 {
        width: 250px;
        margin-left: 0;
      }
      & .paragraphs {
        font-size: 1.6rem;
        min-width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .hovered-spans {
          font-size: 1.8rem;
        }

        & .hovered-spans:hover {
          font-size: 1.3rem;
        }
      }
    }

    & .language-icons {
      flex-direction: column;

      & .download {
        margin-left: 0;
        margin-bottom: 2em;
      }

      & .tools {
        margin: 0 0 2em 1em

      }
    }
  }

  #about {
    & .header {
      & .letter {
        font-size: 2rem;

        &:hover {
          font-size: 3rem;
        }
      }
    }
  }
}
